/cli-magnament/nbproject/private/
/cli-magnament/build/
/Eje/nbproject/private/
/Eje/build/
/Inherenci/nbproject/private/
/Inherenci/build/
/Overr/nbproject/private/
/Overr/build/
/Herencia/nbproject/private/
/Herencia/build/
/DynamicMemory/nbproject/private/
/DynamicMemory/build/
/EjercicioPrueba/nbproject/private/
/EjercicioPrueba/build/
/Examen1PabloJacobo/nbproject/private/
/Examen1PabloJacobo/build/
/Asignaciones/nbproject/private/
/Asignaciones/build/
/Files-faker/nbproject/private/
/Files-faker/build/
/SerializeApp/nbproject/private/
/SerializeApp/build/
/Inventario/nbproject/private/
/Inventario/build/
/Inventario/dist/
/Inv/nbproject/private/
/Inv/build/
/Servlets-SerealizerApp/nbproject/private/
/Servlets-SerealizerApp/build/
/Tokenizer/nbproject/private/
/Tokenizer/build/
/app-umg/nbproject/private/
/app-umg/build/